*::-webkit-scrollbar-track {
  border-radius: 10px;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #0d6efd;
  border-color: #444;
}
